.blockchain-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 50px; /* Aumenta o preenchimento interno */
  margin: 20px; /* Espaço entre os cards */
  width: 80vw; /* Aumenta para ocupar 80% da largura da viewport */
  height: auto; /* Adiciona altura automática */
  max-width: 900px; /* Largura máxima do card */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.block:hover {
  transform: scale(1.03); /* Efeito ao passar o mouse */
}

h3 {
  font-size: 1.8em; /* Tamanho maior para o título */
  margin-top: 0;
  color: #333;
}

p {
  font-size: 1.2em; /* Aumenta o tamanho da fonte do texto */
  margin: 10px 0;
  color: #666;
}
